/*
WIP!!
This is a WIP progress document
this files contains all the variables listed in
gt-core
manage
kpis
university
*/

////////////////////////////////////////////////
/* from gt-core */
////////////////////////////////////////////////
////////////////////////////////////////////////

$green: #2cd886;
$light-green: #2cd886;

$grey: #90a4ae;
$dark-grey: #263238;
$grey-100: #f9fafa; // overrides bs $gray-100: #f8f9fa !default;
$grey-200: #eceff1; // overrides bs  $gray-200: #e9ecef !default;
$grey-300: #dee2e6; //  not an override, same as bs
$grey-400: #ced4da; // not an override, same as bs
$grey-500: #b0bec5; // overrides bs $gray-500: #adb5bd !default;
$black: #37474f; // overrides bs $black:    #000 !default;

$sub-text: $grey; //$grey: #90a4ae;
$gu-grey: $dark-grey; //$dark-grey: #263238;

$accelerator-blue: #009aff;
$accelerator-yellow: #ffd400;

////////////////////////////////////////////////
/* from university - bootstrap overrides */
////////////////////////////////////////////////
////////////////////////////////////////////////
$white: #ffffff;
$white-grey: #f9fafa;
$gray-100: #cdd8dd; // overrides bs $gray-100: #f8f9fa !default;
$gray-200: #b0bec5; // overrides bs $gray-200: #e9ecef !default;
$gray-300: #90a4ae; // overrides bs $gray-300: #dee2e6 !default;
$gray-400: #78909c; // overrides bs $gray-400: #ced4da !default;
$gray-500: #607d8b; // overrides bs $gray-500: #adb5bd !default;
$gray-600: #546e7a; // overrides bs $gray-600: #6c757d !default;
$gray-700: #455a64; // overrides bs $gray-700: #495057 !default;
$gray-800: #37474f; // overrides bs $gray-800: #343a40 !default;
$gray-900: #263238; // overrides bs $gray-900: #212529 !default;

$wistia-blue: #3ea9f5;
$blue: #0974f0; // overrides bs $blue:    #007bff !default;
$indigo: #6610f2; // not an override, same as bs
$purple: #6f42c1; // not an override, same as bs
$pink: #e83e8c; //  not an override, same as bs
$red: #dc3545; // not an override, same as bs
$salmon: #ef4b54;
$orange: #050504; // overrides bs $orange:  #fd7e14 !default;
$yellow: #ffc107; // not an override, same as bs
$canary-yellow: #ffd400;
$green: #8cc63f; // overrides bs $green:   #28a745 !default;
$public-green: #2cd886;
$light-green: #bad452;
$dark-green: #59930c;
$cyan: #17a2b8;  // not an override, same as bs

$navy: #114078;
$black: #3a3a3c;  // overrides bs $black:    #000 !default;
$icey-blue: #f5faff;
$light-grey: $gray-100;
$light-grey-variation: #cfd8dc;
$bright-green: #2ad09a;

$gu-green: hsl(86, 54.2, 51.2);
$gu-grey: hsl(0, 0, 82.4);

$checkbox-green: #7ac810;

$border-color: #eceff1;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800,
  "black": $black,
  "navy": $navy,
  "light-grey": $light-grey,
  "bright-green": $bright-green
);

$primary: $gu-green;
$secondary: $gu-grey;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);

////////////////////////////////////////////////
/* from manage - from bootstrap overrides file */
////////////////////////////////////////////////
////////////////////////////////////////////////
$green: hsl(151, 69%, 51%);
$blue: hsl(232, 62%, 23%); // overrides bs $blue:    #007bff !default;
$bg-grey: hsl(0, 0%, 98%);
$black: hsl(0, 0%, 18%);  // overrides bs $black:    #000 !default;

$body-color: $black;

$navbar-light-active-color: $green;
$navbar-light-color: $blue;

/* from manage home page */
$navy-blue: #131f61;
$light-green: #2cd886;
$grey: #90a4ae;
$light-grey: #cfd8dc;
$blue: #2a3cb9; // overrides bs $blue:    #007bff !default;

$page-bg-color: $navy-blue;

/* from manage variables file, these are bootstrap overrides too */
$white: #ffffff;
$black: #37474f;  // overrides bs $black:    #000 !default;
$gray: #78909c;

$gray-100: #f9fafa; // not an override, same as bs
$gray-200: #eceff1; // overrides bs $gray-200: #e9ecef !default;
$gray-300: #dee2e6; // not an override, same as bs
$gray-400: #ced4da; // not an override, same as bs
$gray-500: #b0bec5; // overrides bs $gray-500: #adb5bd !default;
$gray-600: #6c757d; // not an override, same as bs
$gray-700: #495057; // not an override, same as bs
$gray-800: #343a40; // not an override, same as bs
$gray-900: #212529; // not an override, same as bs

$blue: #0974f0; // overrides bs $blue:    #007bff !default;
$indigo: #6610f2; // not an override, same as bs
$purple: #6f42c1; // not an override, same as bs
$pink: #e83e8c; // not an override, same as bs
$red: #ff0056; // overrides bs $red:     #dc3545 !default;
$orange: #fd7e14; // not an override, same as bs
$yellow: #ffc107; // not an override, same as bs
$pale-yellow: #e1ff88;
$green: #2cd886; // overrides bs $green:   #28a745 !default;
$black-friday-green: #17da5e;
$teal: #20c997; // not an override, same as bs
$cyan: #17a2b8; // not an override, same as bs
$dark-blue: #161F5D;

/********************
 App Colors
*********************/
$strawberry: #ef4b54;
$bg-blue: rgba(22, 31, 93, 0.99);
$sub-text: #90a4ae;
$modal-overlay-color: #f9f9f9;

/* Colors used in Accelerator landing pages */
$accelerator-blue: #009aff;
$accelerator-yellow: #ffd400;
$accelerator-dark-gray: #263238;
$accelerator-gray: #455a64;
$accelerator-light-gray: #607d8b;

/* Growth University Sales Page */
$gu-gray: #263238;
$gu-yellow-green: #8cc63f;
$gu-dark-bg-color: #334850;

$colors: (
  "blue": $blue,
  "indigo": $bg-blue,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800,
  "black": $black,
  "primary": $green,
  "sub-text": $sub-text,
  "dark-blue": $dark-blue,
  "accelerator-blue": $accelerator-blue,
  "accelerator-yellow": $accelerator-yellow,
  "accelerator-dark-gray": $accelerator-dark-gray,
  "accelerator-gray": $accelerator-gray,
  "accelerator-light-gray": $accelerator-light-gray,
  "gu-gray": $gu-gray,
  "gu-yellow-green": $gu-yellow-green,
  "gu-dark-bg-color": $gu-dark-bg-color,
);

$primary: $green;
$secondary: $gray-500;
$success: $green;
$info: $cyan;
$warning: $accelerator-yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);

/********************
 Bootstrap Component Var Overrides
*********************/
$dropdown-link-color: color("green");
$dropdown-link-hover-color: darken($green, 20%);
$dropdown-link-hover-bg: lighten($gray, 25%);

////////////////////////////////////////////////
/* from kpis variables file */
////////////////////////////////////////////////
////////////////////////////////////////////////

/********************
 Base Colors
*********************/
$red-orange: #ef4b54;
$light-yellow: #ffd400;
$lime-green: #8cc63f;
$light-teal: #e6fcf3;
$teal-green: #2cd886;
$charcoal: #263238;
$dark-charcoal: #37474f;
$slate-grey: #90a4ae;
$dark-slate-grey: #546e7a;
$lighter-grey: #eceff1;


/********************
 Bootstrap Color Var Overrides
*********************/
$white: #ffffff;
$gray-100: #f8f9fa; // not an override, same as bs
$gray-200: #e9ecef; // not an override, same as bs
$gray-300: #dee2e6; // not an override, same as bs
$gray-400: #ced4da; // not an override, same as bs
$gray-500: #adb5bd; // not an override, same as bs
$gray-600: #6c757d; // not an override, same as bs
$gray-700: #495057; // not an override, same as bs
$gray-800: #343a40; // not an override, same as bs
$gray-900: #212529; // not an override, same as bs

$blue: #0095ff; // overrides bs $blue:    #007bff !default;
$indigo: #6610f2; // not an override, same as bs
$purple: #6f42c1; // not an override, same as bs
$pink: #e83e8c; // not an override, same as bs
$red: #dc3545; // not an override, same as bs
$orange: #fd7e14; // not an override, same as bs
$yellow: #ffc107; // not an override, same as bs
$green: #abdb7b; // overrides bs $green:   #28a745 !default;
$teal: #20c997; // not an override, same as bs
$cyan: #17a2b8; // not an override, same as bs

$navy: #114078;
$black: #393939;  // overrides bs $black:    #000 !default;
$icey-blue: #f5faff;
$light-grey: #fafafa;
$bright-green: #2ad09a;

$gu-green: hsl(86, 54.2, 51.2);
$gu-grey: hsl(0, 0, 82.4);

$pa-blue: #0094ff;
$pa-cyan: #45eefb;
$pa-dark-blue: #008ef2;

$rich-green: #648767;
$pale-blue: #b8e1ff;
$dull-purple: #6c698d;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800,
  "black": $black,
  "navy": $navy,
  "icey-blue": $icey-blue,
  "light-grey": $light-grey,
  "bright-green": $bright-green
);

$primary: $pa-blue;
$secondary: $rich-green;
$success: $gu-green;
$info: $pale-blue;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "gu-green": $gu-green
);

/********************
 Bootstrap Component Var Overrides
*********************/
$dropdown-link-color: $blue;
$dropdown-link-hover-color: $navy;
$dropdown-link-hover-bg: desaturate($icey-blue, 50%);
