//
//
//
//
//  MASTER Variables file
//
//
//
//
// This file is the Single Source of Truth 
// https://projects.invisionapp.com/d/main#/console/19806019/417053466/preview

// All Brand Accent colors
$growth-tools-green: #2CD886;
$university-green: #8CC63F;
$drip-scripts-green: #17DA5E;
$goviral-orange: #FF7727;
$welcomely-pink: #EF4B54;
$attract-blue: #0974F0;
$accelerator-blue: #009AFF;

// All Brand Greys
$grey-01: #F9FAFA;
$grey-02: #ECEFF1;
$grey-03: #CFD8DC;
$grey-04: #B0BEC5;
$grey-05: #90A4AE;
$grey-06: #78909C;
$grey-07: #607D8B;
$grey-08: #546E7A;
$grey-09: #455A64;
$grey-10: #37474F;
$grey-11: #263238;

// All Secondary colors
$growth-tools-gold: #FFD400;
$growth-tools-navy-blue: #161F5D;

// Blacks & Whites
// These are HSL values and should be used as HSL values to keep consistent with exact hue
$black-75: hsla(0, 0%, 0%, 0.75);
$black-50: hsla(0, 0%, 0%, 0.50);
$black-25: hsla(0, 0%, 0%, 0.25);
$black-10: hsla(0, 0%, 0%, 0.10);

$white-50: hsla(0, 0%, 100%, 0.50);
$white-25: hsla(0, 0%, 100%, 0.25);
$white-10: hsla(0, 0%, 100%, 0.10);

