 <div className="company-name form-group">
            <label htmlFor="companytype">Company type</label>
            <input type="companytype" className="form-control" id="companytype" placeholder="Choose a company type"></input>
          </div>
          
            form {
            display: flex;
            flex-wrap: wrap;
            .company-name {
              flex: 100%;
              margin-bottom: 1rem;
              input {
                height: 48px;
              }
            }

//            look at filters from last-weeks-wins React component for more 
