%tertiary-btn {
  display: flex;
  align-items: center;
  border-radius: 4px;
  height: 32px;
  width: fit-content;
  padding: 0.375rem 0.5rem !important;
  font-size: 20px;
  font-weight: 500;
  .fa {
    font-size: 16px;
    color: $university-green;
  }
  &:hover,
  a:hover {
    color: $university-green;
    background-color: lighten($university-green, 40%);
  }
}
